.navbar {
    position: fixed; /* Sticks the navbar to the top */
    top: 0; /* Aligns it to the top of the page */
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000; /* Ensures it stays on top of other content */
    height: 50px;
    background-color: #ffffff;
    justify-content: space-between; /* Space between logo and links */
}

.navbar-left {
    display: flex; /* Use flexbox for logo and search bar */
    align-items: center; /* Center items vertically */
    flex-grow: 1; /* Allow navbar-left to take available space */
    padding-right: 10px;
    max-width: 400px; /* Set your desired max width here */
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Adjust to your preferred size */
    height: auto; /* Maintain aspect ratio */
}

.navbar-search {
    padding-left: 10px;
}
.navbar-search .ant-input {
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px 10px;
}

.navbar-search .ant-input-search-button {
    border-radius: 20px;
    border: 1px solid black;
    padding-right: 5px;
    height: 38px;
}



.nav-links {
    display: flex;
    gap: 10px;
    align-items: center; /* Align items vertically center */
}


.navbar-link-button {
    all: unset; /* Remove all browser styles */
    height: 30px;
    background-color: #ffffff;
    color: black;
    padding: 5px 5px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a, .navbar-link-button {
    height: 30px;
    background-color: #ffffff;
    color: black;
    padding: 5px 5px;
    border-radius: 20px; /* Rounder edges */
    border: 1px solid black; /* Black border for regular buttons */
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center; /* Horizontally center text */
    align-items: center; /* Vertically center text */
    font-weight: 600;;
}

.profile-text {
    margin-top: 5px; /* Space between icon and text */
    font-size: 14px; /* Font size for the text */
    color: #333; /* Color for the text */
    text-align: center; /* Center text */
    line-height: 1; /* Prevent extra height from text */
}


.attendee-actions {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px; /* Space between buttons */
}


/* Responsive styles for navbar buttons */

/* Smooth transition */
.navbar-cta-button, .navbar-link-button {
    transition: background-color 0.2s ease-in-out; 
    transition: transform 0.2s ease-in-out;
}

/* Smooth hover effect */
.navbar-cta-button:hover, .navbar-link-button:hover {
    color: black !important;
    background-color: #ff5757 !important;
    border-color: black !important;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


.navbar-link-button:hover {
    background-color: #ff5757;
    transform: scale(1.05);
}


#full-button, #qsLoginBtn {
    padding: 10px;
}

#mobile-button {
    padding: 10px;
}

.icon {
    padding: 2px;
}

@media (max-width: 768px) {
    #full-button {
        display: none !important;/* Hide fullExploreEvents on smaller screens */
    }
    #mobile-button {
        display: block !important; /* Show mobileExploreEvents on smaller screens */;
    }
}